<!DOCTYPE generatorConfiguration PUBLIC
        "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<!--
    逆向工程的配置文件， 主要用于生成对应的接口和映射
-->
<generatorConfiguration>
    <context id="mysql" targetRuntime="MyBatis3">
        <commentGenerator>
            <property name="suppressAllComments" value="true"/>
        </commentGenerator>

<!--        数据库连接，根据自己的情况改写-->
        <jdbcConnection driverClass="com.mysql.cj.jdbc.Driver"
                        connectionURL="jdbc:mysql://localhost:3306/promax?serverTimezone=UTC&amp;unicode=true&amp;characterEncoding=UTF-8" userId="root" password="root" >
            <!-- 解决table schema中有多个重名的表生成表结构不一致问题 -->
            <property name="nullCatalogMeansCurrent" value="true"/>
        </jdbcConnection>

        <!--    指定javaBean的生成位置-->
        <javaModelGenerator targetPackage="vip.epss.domain" targetProject="./src/main/java">
            <property name="enableSubPackages" value="true"/>
        </javaModelGenerator>
<!--        指定mapper的接口文件的位置-->
        <sqlMapGenerator targetPackage="vip.epss.dao" targetProject="./src/main/java">
            <property name="enableSubPackages" value="true"/>
        </sqlMapGenerator>

        <javaClientGenerator type="XMLMAPPER" targetPackage="vip.epss.dao" targetProject="./src/main/java">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>
<!--        指定数据表的生成策略-->
<!--        <table tableName="department" domainObjectName="Department" />-->
<!--        <table tableName="employee" domainObjectName="Employee" />-->
<!--        <table tableName="info" domainObjectName="Info" />-->
<!--        <table tableName="project" domainObjectName="Project" />-->
<!--        多对多映射的中间表无需生成对应的实体类 -->
<!--                <table tableName="item" domainObjectName="Item" />-->
<!--                <table tableName="orders" domainObjectName="Orders" />-->
<!--                <table tableName="post" domainObjectName="Post" />-->
<!--                <table tableName="message" domainObjectName="Message" />-->
<!--                <table tableName="user_application" domainObjectName="UserApplication" />-->
<!--                <table tableName="user" domainObjectName="User" />-->
<!--                <table tableName="admin" domainObjectName="Admin" />-->
<!--                <table tableName="guest" domainObjectName="Guest" />-->
<!--                    <table tableName="message" domainObjectName="Message"/>-->
<!--                    <table tableName="forbidened_user" domainObjectName="ForbidenedUser"/>-->
<!--                    <table tableName="reported_post" domainObjectName="ReportedPost"/>-->
                    <table tableName="item" domainObjectName="Item"/>

    </context>
</generatorConfiguration>